.flex-1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.text-theme-500 {
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
}

#inner_wrapper {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.text-3xl {
    font-size: 3.0rem;
    font-weight: 100;
}
